Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

In [3]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
print(df)

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

# Q1. Write a code to print the data present in the second row of the dataframe, df.

In [5]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc - 
Every dataframe contains index, that may be string or numeric. We can access the rows using that indexes from table.

iloc - 
loc works on numbered indexes starting from 0 to n.

# Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [6]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [7]:
new_df = df.reindex(index=[3,0,1,2])
print(new_df)

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [8]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [9]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Did you observe any difference in both the outputs? If so then explain it.
--->>>Yes there is a difference in both above outputs.
new_df.loc[2] gives output based on indexes in dataframe.
new_df.iloc[2] gives output depending on natural indexing of the dataframes sgarting from 0 with first row.

# Consider the below code to answer further questions:

In [11]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.401884  0.577994  0.953015  0.496120  0.145951  0.700536
2  0.022749  0.894462  0.689260  0.511295  0.306594  0.523368
3  0.722040  0.766666  0.818002  0.106956  0.396459  0.179569
4  0.432306  0.493707  0.502829  0.553307  0.401042  0.205285
5  0.170296  0.072489  0.317901  0.090231  0.784842  0.363790
6  0.684975  0.474535  0.060876  0.418012  0.062502  0.733748

# Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [12]:
#(i) mean of each and every column present in the dataframe.
df1.mean()

column_1    0.405708
column_2    0.546642
column_3    0.556981
column_4    0.362654
column_5    0.349565
column_6    0.451049
dtype: float64

In [14]:
#(ii) standard deviation of column, ‘column_2’
df1['column_2'].std()

0.2839700395163876

# Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2. If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [15]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.401884  0.577994  0.953015  0.496120  0.145951  0.700536
2  0.022749  0.894462  0.689260  0.511295  0.306594  0.523368
3  0.722040  0.766666  0.818002  0.106956  0.396459  0.179569
4  0.432306  0.493707  0.502829  0.553307  0.401042  0.205285
5  0.170296  0.072489  0.317901  0.090231  0.784842  0.363790
6  0.684975  0.474535  0.060876  0.418012  0.062502  0.733748

In [23]:
df1.loc[2]['column_2'] = 0.111111111

In [24]:
df1['column_2'].mean()

0.4160838453326146

# Q6. What do you understand about the windows function in pandas and list the types of windows functions?

Windowing operations - an operation that performs an aggregation over a sliding partition of values or window of given size


pandas supports 4 types of windowing operations:

Rolling window: Generic fixed or variable sliding window over the values.

Weighted window: Weighted, non-rectangular window supplied by the scipy.signal library.

Expanding window: Accumulating window over the values.

Exponentially Weighted window: Accumulating and exponentially weighted window over the values.

# Q7. Write a code to print only the current month and year at the time of answering this question. [Hint: Use pandas.datetime function]

In [30]:
from datetime import date
d = date(2023, 3, 14)
d

datetime.date(2023, 3, 14)

In [31]:
d.year

2023

In [32]:
d.month

3

# Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [33]:
import datetime

a = datetime.datetime(2023, 3, 10, 12, 25, 30)
b = datetime.datetime(2023, 3, 5, 12, 30, 30)
 
c = a-b
print('Difference: ', c)

minutes = divmod(c.total_seconds(), 60)
print('Total difference in minutes: ', minutes[0], 'minutes',
                                 minutes[1], 'seconds')
 
minutes = divmod(c.seconds, 60)
print('Total difference in minutes: ', minutes[0], 'minutes',
                                 minutes[1], 'seconds')

Difference:  4 days, 23:55:00
Total difference in minutes:  7195.0 minutes 0.0 seconds
Total difference in minutes:  1435 minutes 0 seconds